<div fxLayout="row" fxLayoutAlign="center " class="login-main" style="margin-top: 25px;">
  <div class="col-md-4"></div>
  <div class="col-md-4" fxLayoutAlign="center ">

<mat-card class="example-card" class="text-center">
    <form class="example-form"  (ngSubmit)="onSubmit(newpass.value)">
    <mat-card-header color="primary" style="text-align:center;">
      <mat-card-title style="margin-left:45px;">Update Password</mat-card-title><br>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content style="margin-top: 20px;">
          <div class="example-container" >
            <p >{{response}}</p>           
            <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label>&nbsp;&nbsp;New Password</mat-label>
                <input type="password" matInput placeholder="New Password" #newpass [formControl]="newPassword" (keyup)="OnInput(newpass.value,confirm.value)" name="newPassword" ngModel required> 
                <mat-icon matPrefix>vpn_key</mat-icon>    
                <mat-error *ngIf="newPassword.hasError('required')">
                        NewPassword is <strong>required</strong>
               </mat-error>                                    
            </mat-form-field><br>
            <mat-form-field appearance="legacy" class="example-full-width">
                <mat-label>&nbsp;&nbsp;Confirm Password</mat-label>
                <input type="password" matInput placeholder="Confirm Password" #confirm (keyup)="OnInput(newpass.value,confirm.value)" name="conpass" ngModel required>
                <mat-icon matPrefix>vpn_key</mat-icon>                                                                                     
            </mat-form-field><br>
            <p *ngIf="notMatch" style="color: brown;">
                Password  <strong>did't match</strong>
            </p> 
          </div>   
            </mat-card-content>  
    <mat-card-actions  align="center" >
          <button type="submit" *ngIf="btnView" mat-raised-button color="primary">Submit</button>
      
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </form>
  </mat-card>
  
  </div>
  <div class="col-md-4"></div>
</div>
