<div fxLayout="row" fxLayoutAlign="center " class="login-main" style="margin-top: 25px;">
  <div class="col-md-4"></div>
  <div class="col-md-4" fxLayoutAlign="center ">

<mat-card class="example-card" class="text-center">
    <form class="example-form" [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
    <mat-card-header color="primary" style="text-align:center;">
      <mat-card-title style="margin-left:45px;">Add new sylabus</mat-card-title><br>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content style="margin-top: 20px;">
          <div class="example-container" >
            
              <mat-form-field>
                  <i matPrefix class="material-icons">collections_bookmark&nbsp;&nbsp;</i>         
                    <input type="text" matInput placeholder="Sylabus_topic" [formControl]="topicControl" name="name" required [(ngModel)]="sylabus.topic" >
                    <mat-error *ngIf="topicControl.hasError('required')">Please provide topic</mat-error>              
             </mat-form-field>
             <br>
             <div class="row text-center">
               <div class="col-sm-3"></div>
               <div class="col-sm-4"> <input type="file"  placeholder="File"  name="file" required  (change)="onFileSelect($event)"></div>
               <div class="col-sm-5"></div>   
             </div>
             <br>
             
           <mat-form-field>
              <i matPrefix class="fa fa-id-card-o" style="font-size:18px;">&nbsp;&nbsp;&nbsp;</i>
              <mat-label>Unit</mat-label>
              <mat-select  [formControl]="unitControl"  name="year" required [(ngModel)]="sylabus.unit_number">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let y of unit" [value]="y.count">
                  {{y.count}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="unitControl.hasError('required')">Please choose an unit number</mat-error>
            </mat-form-field>
            
            <br>
             
          
              
             </div>   
            </mat-card-content>  
    <mat-card-actions  align="center">
          <button type="submit"  mat-raised-button color="primary">{{buttonName}}</button>
      
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </form>
  </mat-card>
  
  </div>
  <div class="col-md-4"></div>
</div>
