<div fxLayout="row" fxLayoutAlign="center " class="login-main" style="margin-top: 25px;">
  <div class="col-md-4"></div>
  <div class="col-md-4" fxLayoutAlign="center ">

<mat-card class="example-card" class="text-center">
    <form class="example-form"  (ngSubmit)="onSubmit()">
    <mat-card-header color="primary" style="text-align:center;">
      <mat-card-title style="margin-left:45px;">Add new univercity</mat-card-title><br>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content style="margin-top: 20px;">
          <div class="example-container" >
            
              <mat-form-field>
                  <i matPrefix class="material-icons">collections_bookmark&nbsp;&nbsp;</i>         
                    <input type="text" matInput placeholder="Univercity_Name" [formControl]="nameControl" name="name" required [(ngModel)]="univercity.name" >
                    <mat-error *ngIf="nameControl.hasError('required')">Please provide univercity name</mat-error>              
             </mat-form-field>
             <br>
             <mat-form-field>
                <i matPrefix class="material-icons">contacts   &nbsp;&nbsp;  </i>
                   <input type="text" matInput placeholder="address" [formControl]="addressControl" name="address" required [(ngModel)]="univercity.address">
                <mat-error *ngIf="addressControl.hasError('required')">Please provide address</mat-error>              
           </mat-form-field>

           <br>
              <mat-form-field>
                  <i matPrefix class="material-icons">my_location&nbsp;&nbsp;</i>
                    <input type="text" matInput placeholder="location" [formControl]="locationControl"
                   name="mobile" required [(ngModel)]="univercity.location" >
                     <mat-error *ngIf="locationControl.hasError('required')">
                      Location is<strong>required</strong>
                    </mat-error>            
                
                </mat-form-field>      
             </div>   
            </mat-card-content>
    <mat-card-actions  align="center">
          <button type="submit"  mat-raised-button color="primary">{{buttonName}}</button>
      
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </form>
  </mat-card>
  
  </div>
  <div class="col-md-4"></div>
</div>
