<div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 user-details">
                <div class="user-image"><!--100 X 100-->
                    <img src="/assets/images/p2.png" alt="Karan Singh Sisodia" title="Karan Singh Sisodia" class="img-circle">
                </div>
                <div class="user-info-block">
                    <div class="user-heading">
                        <h3>Aravind Kumar</h3>
                        <span class="help-block">Anna university, IN</span>
                        <span class="help-block">Student</span>
                    </div>
                    <ul class="navigation">                       
                        <li class="active">
                            <a data-toggle="tab" href="#settings">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#email">
                                <span class="glyphicon glyphicon-envelope"></span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#events">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </a>
                        </li>
                    </ul>
                    <div class="user-body">
                        <div class="tab-content">                            
                            <div id="settings" class="tab-pane active example-form">
                                <h3>Change Password</h3>
                                <form>
                                            <p>Please Enter Current Password Correctly</p>
                                            <mat-form-field appearance="legacy" class="example-full-width">
                                                    <mat-icon matPrefix>edit</mat-icon>
                                                    <mat-label>&nbsp;&nbsp;Old Password</mat-label>
                                                    <input matInput placeholder="Old Password" [formControl]="oldPassword" >
                                                     <mat-error *ngIf="oldPassword.hasError('required')">
                                                                OldPassword is <strong>required</strong>
                                                       </mat-error>                                                                                                                                       
                                            </mat-form-field><br>
                                            <mat-form-field appearance="legacy" class="example-full-width">
                                                <mat-label>&nbsp;&nbsp;New Password</mat-label>
                                                <input matInput placeholder="New Password"  [formControl]="newPassword">
                                                <mat-icon matPrefix>vpn_key</mat-icon>    
                                                <mat-error *ngIf="newPassword.hasError('required')">
                                                        NewPassword is <strong>required</strong>
                                               </mat-error>                                    
                                            </mat-form-field><br>
                                            <mat-form-field appearance="legacy" class="example-full-width">
                                                <mat-label>&nbsp;&nbsp;Confirm Password</mat-label>
                                                <input matInput placeholder="Confirm Password">
                                                <mat-icon matPrefix>vpn_key</mat-icon>                                       
                                            </mat-form-field><br>
                                        <button [disabled]="loading"  mat-flat-button color="primary">Sumbit</button>
                                </form>

                            </div>
                            <div id="email" class="tab-pane">
                                <h4>Send Message</h4>
                            </div>
                            <div id="events" class="tab-pane">
                                <h4>Events</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>































    