<div class="container" style="margin-top:25px;" >
  <div class="row" >
   
    <div class="col-sm-4">

        <mat-card class="example-card">
            <mat-card-header>
             <mat-card-title class="title"><h5>First Year</h5></mat-card-title>
             
            </mat-card-header>
            <hr class="line">
           <mat-card-content>
              <mat-list>
                  <mat-list-item>Item 1</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>Item 2</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>Item 3</mat-list-item>
                </mat-list>
            </mat-card-content>
            
          </mat-card>
    </div>
    
    <div class="col-sm-4">

        <mat-card class="example-card">
            <mat-card-header>
             <mat-card-title class="title"><h5>First Year</h5></mat-card-title>
             
            </mat-card-header>
            <hr class="line">
           <mat-card-content>
              <mat-list>
                  <mat-list-item>Item 1</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>Item 2</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>Item 3</mat-list-item>
                </mat-list>
            </mat-card-content>
            
          </mat-card>
    </div>
   
    <div class="col-sm-4">

        <mat-card class="example-card">
            <mat-card-header>
             <mat-card-title class="title"><h5>First Year</h5></mat-card-title>
             
            </mat-card-header>
            <hr class="line">
           <mat-card-content>
              <mat-list>
                  <mat-list-item>Item 1</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>Item 2</mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>Item 3</mat-list-item>
                </mat-list>
            </mat-card-content>
            
          </mat-card>
    </div>
  </div>
</div>