<div class="continer">
  <div class="row"  style="margin-top: 13px;margin-left: 15px;">
   
    <div class="col-sm-11">
        <mat-sidenav-container>
            <mat-sidenav #sidenav [opened]="screenWidth > 840" [mode]="(screenWidth > 840) ? 'side' : 'over'" class="sidenav-header menu-header" >
                   
                <div class="topics" *ngFor="let i of unit">
                    <h6 class="title">Unit-{{i+1}}</h6>
                    <ng-container *ngFor="let sylabus of sylabus" >                      
                      <p  *ngIf="i+1==sylabus.unit_number" class="">{{sylabus.topic}}</p>
                    </ng-container>  
                   <hr>
            </div>   
                                  
                    
             
            </mat-sidenav>
          
            <div [ngStyle]="{'display' : (screenWidth > 840) ? 'none' : 'block'}">
                <p class="icon"><i class="material-icons" (click)="sidenav.toggle()" style="color:blue;">list</i></p>                  
              
            </div>
              <div class="content " style="margin-left: 30px;">
                <mat-card>
                  <div class="row">
                      <div class="col-sm-3 "><button mat-raised-button color="primary" >❮ Previous</button></div>
                      <div class="col-sm-3 "></div>
                      <div class="col-sm-3 "></div>
                      <div class="col-sm-3 "><button mat-raised-button color="primary" >Next ❯</button></div>
                  
                  </div>
                 <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                    Missing: fixed ‎| Must include: fixed
                    </p>
                    <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                        Missing: fixed ‎| Must include: fixed
                        </p>
                    <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                    Missing: fixed ‎| Must include: fixed
                    </p>
                    <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                      Missing: fixed ‎| Must include: fixed
                      </p>
                      <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                          Missing: fixed ‎| Must include: fixed
                          </p>
                      <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                      Missing: fixed ‎| Must include: fixed
                      </p>
                      <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                        Missing: fixed ‎| Must include: fixed
                        </p>
                        <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                            Missing: fixed ‎| Must include: fixed
                            </p>
                        <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                        Missing: fixed ‎| Must include: fixed
                        </p>
                        <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                          Missing: fixed ‎| Must include: fixed
                          </p>
                          <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                              Missing: fixed ‎| Must include: fixed
                              </p>
                          <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                          Missing: fixed ‎| Must include: fixed
                          </p>
                          <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                            Missing: fixed ‎| Must include: fixed
                            </p>
                            <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                                Missing: fixed ‎| Must include: fixed
                                </p>
                            <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                            Missing: fixed ‎| Must include: fixed
                            </p>
                            <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                              Missing: fixed ‎| Must include: fixed
                              </p>
                              <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                                  Missing: fixed ‎| Must include: fixed
                                  </p>
                              <p>May 31, 2018 - Let's get this done quickly. Angular Material 2 is finally something I wanna get my head into. Streamlined and ready for all the heavy lifting.
                              Missing: fixed ‎| Must include: fixed
                              </p>
                      </mat-card>
                 </div>
            
          </mat-sidenav-container>

    </div>

    <div class="col-sm-1"></div>


  </div>


</div>