<div class="" style="margin-left: 10px;">
<div class="row">
  <div class="col-md-5">
      <h2>Write Your Blog</h2>
    </div>
 <div class="col-md-1"><br>
      <button mat-raised-button color="accent" (click)="postValues(tittle.value,tags.value)">Post</button>
  </div>
  <div class="col-md-6 action-buttons" style="margin-top: 10px;">    
      <button mat-raised-button color="accent" (click)="showFullScreen(true)">Full Screen Preview</button>
  </div>
</div>
<hr />

<form novalidate>
  <div class="editor">
      <!-- <label>Editor (with French locale)</label> -->
      <div class="col-sm-4">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Tittle of the blog"  name="tittle" #tittle>
          </mat-form-field>&nbsp;&nbsp;
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Tags like #java #maths" name="tags" #tags>
          </mat-form-field>
      </div>
      <div class="col-md-8 hide"><br>
              <button mat-raised-button color="accent" (click)="newBlog()">Start</button>
      </div>
      <div class="col-sm-12">
          <angular-markdown-editor  textareaId="editor1" [locale]="locale" [options]="editorOptions"
              rows="12" name="markdownText"  [(ngModel)]="markdownText" (onFullscreenExit)="hidePreview()" >
          </angular-markdown-editor>
    </div>
  </div>
</form>

<hr />
<div class="col-sm-12">
<h3 class="text-success bold">Preview</h3>
    <div class="result-preview outline">
      <markdown [data]="markdownText"></markdown>
    </div>
  </div>
</div>
